player-connection-mode=Listen
player-connection-guid=556713464
player-connection-debug=0
player-connection-project-name=MM Strategy Game Prototype
player-connection-ip=192.168.1.49
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=089a060f5b9b4bbeba85f4736a7adbf8
